
body {
    direction: rtl;
    text-align: right;
    line-height: 1.5;
    font-family: "Sahel";
    background-color: #fafafa;
}

*, :after, :before {
    box-sizing: inherit;
}

a {
    background-color: transparent;
    text-decoration: none;
}

svg {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: currentcolor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    overflow: hidden;
}

img, svg {
    vertical-align: middle;
}

div {
    display: block;
}

input {
    text-rendering: auto;
    text-align: start;
    appearance: auto;
    cursor: text;
    font-family: inherit;
    font-size: inherit;
}

button {
    cursor: pointer;
    font-family: inherit;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}




.borderBottom {
    border-bottom: 1px solid #dee2e6!important;
}

.borderGray {
    border: 1px solid #adaeae;
}


.container {
    max-width: 100%;
}



.dashHover:hover{
    border-bottom: 1px dashed rgb(0, 167, 255);
}

.dashHover:hover{
    color: rgb(0, 167, 255);
}


.fillRed:hover {
    fill: #fb815e;
}

.flexDisplay {
    display: flex;
}

.flexEnd {
    justify-content: flex-end;
}




.h15 {
    height: 15%;
}

.h100 {
    max-height: 100%;
}

.height30 {
    line-height: 30px;
}


.isLink {
    cursor: pointer;
}


.leftScroll {
    position: relative;
    flex-direction: column;
}

.leftStyle {
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
}


.mAuto {
    margin: auto;
}

.mb0 {
    margin-bottom: 0!important;
}

.mb25 {
    margin-bottom: .25rem!important;
}

.mb1 {
    margin-bottom: 1rem!important;
}

.mb15 {
    margin-bottom: 1.5rem!important;
}

.mb3 {
    margin-bottom: 3rem!important;
}

.mb4 {
    margin-bottom: 4rem!important;
}

.mb5 {
    margin-bottom: .5rem!important;
}

.mb8 {
    margin-bottom: 8rem!important;
}

.mb2 {
    margin-bottom: .2rem!important;
}

.ml50 {
    margin-left: 50px!important;
}

.ml1 {
    margin-left: 1rem!important;
}

.ml3 {
    margin-left: 3rem!important;
}

.ml5 {
    margin-left: .5rem!important;
}

.mr50{
    margin-right: 50px!important;
}

.mr1 {
    margin-right: 1rem!important;
}

.mr3 {
    margin-right: 3rem!important;
}

.mr2 {
    margin-right: .2rem!important;
}

.mt3 {
    margin-top: 3rem!important;
}

.mt0 {
    margin-top: 0!important;
}

.mt1 {
    margin-top: 1rem!important;
}

.mt20{
    margin-top: 20px!important;
}

.mt15 {
    margin-top: 1.5rem!important;
}



.roundedCircle {
    border-radius: 50%!important;
}



.scoreBox {
    background: #e5f2fe;
    color: #1780df;
}

.scrol {
    overflow-y: scroll;
    scroll-margin-left: 1rem!important;
}

.speciality:hover {
    border: 1px solid #fb815e;
}

.stickyPosition {
    position: sticky!important;
    z-index: 1;
    bottom: 0;
}



.txt10 {
    font-size: 10px;
}

.txt14 {
    font-size: 14px;
}

.txt16 {
    font-size: 16px;
}

.txt20 {
    font-size: 20px;
}

.txt28 {
    font-size: 28px!important;
}

.txtBlack {
    color: black;
}


.w10 {
    width: 10%;
}

.w15 {
    width: 15%;
}

.w45 {
    max-width: 45%!important;
}

.w50 {
    max-width: 50%!important;
}

.w35 {
    max-width: 35%;
}

.w58 {
    max-width: 58%;
}

.w70 {
    width: 70%;
}

.w75 {
    width: 75%;
}

.w95 {
    width: 95%;
}

.w100 {
    width: 100%;
}

.wo {
    position: absolute;
    width: 30px;
    height: 30px;

    border-right: 1px solid #1780df;
    border-bottom: 1px solid #1780df;
    border-left: 0;
    border-top: 0;

    bottom: -16px;
    left: 80px;
    content: "";
    transform: rotate(45deg);
    z-index: 1;
}




.bgGray {
    background-color:  #fafafa;
}

.txtBlue {
    color: #1780df;
}



.txtBlack {
    color: #000000;
}

.txtGray {
    color: #6e7794;
}

.txtWhite {
    color: white;
}


.pr5 {
    padding-right: .5rem!important;
}

.pr1 {
    padding-right: 1em!important;
}

.pr15 {
    padding-right: 1.5rem!important;
}

.pr3 {
    padding-right: 3rem!important;
}

.pr6 {
    padding-right: 6rem!important;
}


.pl5 {
    padding-left: .5rem!important;
}

.pl1 {
    padding-left: 1em!important;
}

.pl15 {
    padding-left: 1.5rem!important;
}

.pl3 {
    padding-left: 3rem!important;
}

.pl4 {
    padding-left: 4rem!important;
}

.pl6 {
    padding-left: 6rem!important;
}

.pl7 {
    padding-left: 7rem!important;
}



.pt0 {
    padding-top: 0!important;
}

.pt25 {
    padding-top: .25rem!important;
}

.pt5 {
    padding-top: .5rem!important;
}

.pt8 {
    padding-top: .8em!important;
}

.pt1 {
    padding-top: 1em!important;
}

.pt15 {
    padding-top: 1.5rem;
}

.pt3 {
    padding-top: 3em!important;
}



.pb8 {
    padding-bottom: .8em!important;
}

.pb25 {
    padding-bottom: .25rem!important;
}

.pb5 {
    padding-bottom: .5rem!important;
}

.pb1 {
    padding-bottom: 1rem!important;
}

.pb15 {
    padding-bottom: 1.5rem;
}

.pb3 {
    padding-bottom: 3em!important;
}


.round5 {
    border-radius: 5px;
}

.round10 {
    border-radius: 10px;
}

.round20 {
    border-radius: 20px;
}

.roundBottom10 {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.boldFont {
    font-weight: 700!important;
}



.txtCenter {
    text-align: center!important;
}

.txtjustify {
    text-align: justify;
}

.txtLeft {
    text-align: left!important;
}

.txtRight {
    text-align: right!important;
}



.itemCenter {
    align-items: center;
}

.top {
    display: none;
}

.redHover:hover {
    color: #fb815e;
}

.redHover:hover .top {
    display: inline-block;
}

.redHover:hover .back {
    display: none;
}

.inlineDisplay {
    display: inline-flex;
    align-content: center;
    alignment: center;
}


.bgWhite {
    background-color: #ffffff;
    padding: 10px;
}

.bgTransparent {
    background-color: transparent;
    /*padding: 10px;*/
    border: 1px solid #fb815e;
}

.bgTransparent:hover {
    background-color: #fb815e;
}

.bgTransparent:hover p .topArrow{
    display: inline-flex;
}

.bgTransparent:hover p .backArrow{
    display: none;
}

.topArrow {
    display: none;
    z-index: 90;
}

.bgTransparent:hover p {
    color: white;
}

.bgTransparent:hover p svg {
    color: white;
}

.txtOrange {
    color: #fb815e;
}

.relPosition {
    position: relative!important;
}

.col8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.SearchDiv {
    display: block;
}

.searchBar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    height: 60px;
    z-index: 0;
    border-radius: 15px;
    background-color: transparent;
}

.nameSearch {
    position: relative;
    flex: 1 1 0;
    border-radius: 0 15px 15px 0!important;
    border: 0;
    height: 20%;
    display: inline-block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    box-sizing: inherit;
}

.citySearch {
    position: relative;
    flex: 0 0 25%;
    max-width: 25%;
    box-sizing: inherit;
    line-height: 1.5;
    cursor: pointer;
    background-color: #fff;
    height: 100%;
    border-right: 1px solid rgba(0,0,0,0.5)!important;
}

.btnSearch {
    height: 91%;
    border-radius: 15px 0 0 15px;
    background-color: #fb815e;
    border-color: #fb815e;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
}

.btnSearch:hover {
    background-color: #f85322;
    border-color: #f85322;
}

.bgSearch {
    background-image: url("images/5.png");
    background-color: #1780df;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.noBorder {
    border: 0!important;
}

.bestSpecialities {
    flex-wrap: wrap;
}

.justifySpace {
    justify-content: space-between!important;
}

.justifyStart {
    justify-content: flex-start!important;
}

.specialitySize {
    height: 150px;
    width: 125px;
    padding: .5rem!important;
    border: 1px solid rgba(0,0,0,.125)!important;

}

.iconBG {
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.bgPurple{
    background-color: #e8c9fd;
}

.bgRed {
    background-color: #fcbaba;
}

.bgGreen {
    background-color: #b3e8ca;
}

.bgBlue {
    background-color: #abc2d8;
}

.bgSkyBlue {
    border: 1px solid rgba(0,0,0,.125);
    background-color: #1780df;
}

.bgPink {
    background-color: #fbcbee;
}

.bgCyan {
    background-color: #c5e1fb;
}

.bgOrange {
    background-color: #fdcdb0;
}



.boxShadow:hover {
    box-shadow: .02rem .02rem .2rem .2rem rgba(0,0,0,.2)!important;
}

.flex50 {
    flex: 0 0 40%;
    max-width: 40%;
}

.comments {
    flex-wrap: wrap!important;
}

.comments div {
    display: inline-block!important;
}

.iconComment {
    position: absolute;
    top: -1%;
    right: 5%;
    width: 50px;
    height: auto;
    z-index: 12;
}

.dashBorder {
    border-top: 2px dashed #6e7794;
    width: 98%;
    left: 5px;
    z-index: 10;
}

.commentName {
    position: absolute;
    font-weight: 700;
    bottom: -12%;
    left: 70px;
    text-align: left!important;
}

.specialService {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center!important;
}

.btnPCR {
    width: 90%;
    height: 60%!important;
    border-radius: 10px;
    background-color: #fb815e;
    size: auto;
    border-color: #fb815e;
    font-size: 1rem;
    font-weight: 200;
    color: white;
    display: block;
    text-align: center;
    vertical-align: middle;
    line-height: 1.1!important;
    padding: 1rem;
}

.btnPCR:hover {
    background-color: #f85322;
    border-color: #f85322;
}

.bgSpecialService {
    background-image: url("images/backService.png");
    background-size: cover;
}



.oneService {
    display: inline-block;
    flex: 0 0 33.33333%;
    max-width: 20%;
}

.downloadDiv {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around!important;
    padding: 3rem!important;
}




.buttonLink {
    background-color: #fb815e;
    border-color: #fb815e;
    min-height: 30px;
    cursor: pointer;
    border-radius: 5px;
    padding-right: 5px;
    padding-left: 15px;
}

.buttonLink:hover {
    background-color: #fc9c81;
    border-color: #fc9c81;

}

.buttonMember {
    background-color: #fb815e;
    border-color: #fb815e;
    min-height: 30px;
    cursor: pointer;
    border-radius: 10px;
    padding-right: 5px;
    padding-left: 15px;
    text-align: center!important;
}

.buttonMember:hover {
    background-color: #fc9c81;
    border-color: #fc9c81;

}

.borderTop {
    border-top: 1px solid white;
}



.whiteHover:hover {
    background-color: white;
}

.whiteHover:hover a {
    color: #1780df;
}

.verticalLine {
    display: block;
    border-right: 1px solid #ffffff;
    justify-content: center!important;
    align-items: center!important;
    margin-right: 10px;
    margin-top: 10px;
    height: 125px;
}

.justifyCenter {
    justify-content: center!important;
}


.name {
    border-radius: 5px;
    margin: 1px;
    width: 49%;
    height: calc(1.5em + .75rem + 2px);
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}



.email {
    border-radius: 5px;
    width: 98%;
    height: calc(1.5em + .75rem + 2px);
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;

}



.btnSubmit {
    background-color: #fb815e;
    border: 1px solid #fb815e;
    min-height: 30px;
    cursor: pointer;
    border-radius: 10px;
    padding-right: 5px;
    padding-left: 15px;
    text-align: center!important;
}

.btnSubmit:hover {
    background-color: #fc9c81;
    border-color: #fc9c81;
}



.phoneLabel {
    position: absolute;
    z-index: 2;
    right: 1rem;
    top:30%;
    background: linear-gradient(180deg,#fafafa,#fafafa 50%,#fff 70%);
}



.doctorDet {
    justify-content: space-between;
}

.doctorDet div {
    display: inline-block;
    justify-content: space-between!important;
}



.btnComment{
    position: relative;
    padding: 1rem;
    padding-right: 15px!important;
    padding-left: 15px!important;
    color: white;
    background-color: #fb815e;
    border-color: #fb815e;
    top: -20%!important;
}

.btnComment:hover {
    background-color: #f85322;
    border-color: #f85322;
}
