/* @import "../globalStyle.css"; */

@font-face {
    font-family: "B Yekan";
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "B Yekan";
    font-style: normal;
    font-weight: bold;
 }

body {
    font-family: 'B Yekan', Arial, sans-serif;
    font-weight: normal;
    direction: rtl;
    background-color: #FAFAFA;
}

*{
    margin: 0;
    padding: 0;
}

.header-part-background {
    position: fixed;
    z-index: 1000;
    top: 0%;
    width: 100%;
    height: 10%;
    background-color: white;
}

.header-part {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 80px;
    /* background-color: rgba(69, 176, 184, 0.39); */
}

#imagedarmanKade {
    position: absolute;
    right: 5px;
}

#header-part-left {
    position: absolute;
    box-sizing: border-box;
    background-color: #EDEDED;
    /* border: 1px solid black; */
    left: 1%;
    top: 25%;
    border-radius: 10px;
    width: 90px;
    cursor: pointer;
}

#header-part-left:hover {
    color: red;
}

#header-part-left-button {
    /* background-color: green; */
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /* padding-top: 5px;
    padding-right: 5px; */
    /* z-index: 1; */
    /* background-color: rgb(247, 0, 0); */
}

#header-part-left-button-svg {
    position: absolute;
    left: 0;
    /* color: rgba(69, 19, 19, 0.387); */
    /* padding-bottom: 5px; */
}

#header-part-left-button-text {
    position: absolute;
    right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#header-part-center {
    /* background-color: red; */
    width: 65%;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#header-part-center>*:hover {
    color: orange;
}

#header-part-center>* {
    font-size: 9px;
    /* margin-top: auto;
    margin-bottom: auto; */
}

.header-part-center-image {
    position: absolute;
    right: 0px;
}

.header-part-center-item {
    position: relative;
}

.header-part-center-text {
    position: absolute;
    right: 30px;
    top: 0%;
}

.centrized {
    /*position: relative;*/
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#way {
    /* background-color: gray; */
    height: 5vh;
    margin-top: 6%;
    padding-top: 2vh;
}

.blue-inline-text {
    color: #1780df;
    margin-right: 10px;
    display: inline;
    cursor: pointer;
}

#middle-Part {
    position: sticky!important;
    display: grid;
    grid-template-columns: 3fr 6fr;
}

#middle-Part-firstbox {
    border-radius: 10px;
    height: 60vh;
    border: 1px solid #e2e8f0;
}

#middle-Part-firstbox-top-blue {
    margin-top: 15px;
    margin-right: 15px;
    border-radius: 5px;
    width: 20%;
    height: 5vh;
    border: none;
    background-color: #1780df;
    color: #fff!important;
}

#middle-Part-firstbox-top {
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid #e2e8f0;
    /* background-color: rebeccapurple; */
    padding-bottom: 10px;
}

#middle-Part-firstbox-date {
    position: relative;
    height: 25vh;
    border-bottom: 1px solid #e2e8f0;
    border-bottom: none;
    /* background-color: rebeccapurple; */
}

.orange-button {
    position: absolute;
    width: 3vh;
    height: 3vh;
    /* background-color: rebeccapurple;  */
    border: 1px solid #fb815e;
    border-radius: 50%;
}

#first-orange-button {
    display: block;
    fill: #fb815e;
    transform: translate(0%, 25%);
    right: 2%;
    top: 25%;
}

#second-orange-button {
    fill: #fb815e;
    transform: translate(12%, 25%);
    left: 2%;
    top: 25%;
}

#middle-Part-firstbox-date-days {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 80%;
    /* background-color: gray; */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.middle-Part-firstbox-date-dayClass>* {
    text-align: center;
    color: #6e7794;
}

.middle-Part-firstbox-date-dayClass {
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 4%;
    border-radius: 10px;
    background-color: #ededed;
}

#middle-Part-firstbox-firstFreeTime {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 90%;
    height: 30%;
    border-radius: 10px;
    border: 1px solid #ededed;
}

#middle-Part-firstbox-firstFreeTime>p {
    position: absolute;
    right: 5%;
    top: -92%;
    color: #6e7794;
}

#middle-Part-firstbox-firstFreeTime>button {
    position: absolute;
    width: 15%;
    height: 30%;
    background-color: #fb815e;
    border: none;
    border-radius: 10px;
    text-align: center;
    color: white;
}

#middle-Part-firstbox-firstFreeTime>button:hover {
    background-color: orange;
}

#middle-Part-drInfo {
    position: sticky!important;
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
    width: 45vh;
    height: 52vh;
    border-radius: 10px;
    background-color: #1780df;
    border: 1px solid black;
    /* background-color: gray; */
}

#middle-Part-drInfo-top {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
}

#middle-Part-drInfo-top-share {
    margin-right: 30%;
    color: white;
}

/* #middle-Part-drInfo-top-share:hover {
    fill: #fb815e;
    color: #fb815e;
} */

#middle-Part-drInfo-top-like {
    margin-left: 30%;
    color: white;
}

#middle-Part-drInfo-top-like:hover {
    fill: #fb815e;
    color: #fb815e;
    /* background-color: #fb815e; */
}

#middle-Part-drInfo-top-middleColumn>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#middle-Part-drInfo-top-middleColumn>h1 {
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

#middle-Part-drInfo-top-middleColumn>p {
    color: white;
    font-size: 10px;
    text-align: center;
}

#middle-Part-drInfo-bottom {
    /* margin-top: 60%; */
    /* margin-bottom: 4%; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 25%;
    background-color: white;
    border-radius: 10px;
}

#middle-Part-drInfo-bottom>div {
    color: #6e7794;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#middle-Part-drInfo-bottom>div>svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#middle-Part-drInfo-bottom>div>p {
    font-size: 10px;
    text-align: center;
}

.whiteClass {
    background-color: white;
}

#middle-Part-commentFirst {
    margin-top: 2%;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1.5fr 7fr;
    height: 22vh;
    border: 1px solid #ededed;
}

#middle-Part-commentFirst-rightSide {
    /* border: 1px solid black; */
    border-left: 1px dotted #ededed;
}

#middle-Part-commentFirst-leftSide {
    position: relative;
    /* border: 1px solid orange; */
}

#middle-Part-commentFirst-rightSide>div {
    border-radius: 6px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    width: 80%;
    background: #e5f2fe;
    text-align: center;
    border-radius: 5px;
    color: #1780df;
}

#middle-Part-commentFirst-rightSide-stars>svg {
    fill: #1780df;
    color: #1780df;
}

#middle-Part-commentFirst-leftSide>svg {
    transform: translate(-50%, 50%);
    color: #6e7794;
}

#middle-Part-commentFirst-circles>div {
    background-color: gray;
    border-radius: 50%;
    bottom: 10%;
    width: 1vh;
    height: 1vh;
    position: absolute;
    cursor: pointer;
}

#middle-Part-commentFirst-circles>div:hover {
    background-color: orange;
}

#middle-Part-commentFirst-arrow {
    position: absolute;
    fill: blue;
    color: blue;
    width: 28px;
    height: 28px;
    left: 5%;
    bottom: 5%;
    border-radius: 50%;
    background-color: #e2e8f0;
    cursor: pointer;
}

#middle-Part-commentFirst-arrow>svg {
    transform: translate(-5%, 0%);
}

#middle-Part-loaction {
    position: relative;
    margin-top: 5%;
    padding-top: 2%;
    border-radius: 5px;
    height: 22vh;
    border: 1px solid #ededed;
}

#middle-Part-loaction-title1 {
    position: absolute;
    /* background-color: red; */
    padding-right: 5px;
    /* background-color: red; */
    top: 0;
    right: 0px;
    width: 30%;
    height: 25%;
    padding-top: 10px;
    border-radius: 0px 5px 0px 0px;
    color: #1780df;
    fill: #1780df;
    /* background-color: red; */
}

#middle-Part-loaction-title1>svg {
    /* padding-top: 10px; */
    margin-right: 10px;
}

#middle-Part-loaction-title1>p {
    position: relative;
    top: -8px;
    margin-right: 10px;
    display: inline;
    color: #1780df;
}

#middle-Part-loaction-title2 {
    position: absolute;
    background-color: #ededed;
    /* background-color: red; */
    padding-right: 5px;
    /* background-color: red; */
    top: 0;
    right: 30%;
    width: 30%;
    height: 25%;
    padding-top: 10px;
    border-radius: 0px 0px 0px 0px;
    color: #1780df;
    fill: #1780df;
}

#middle-Part-loaction-title3 {
    background-color: #ededed;
    position: absolute;
    top: 0;
    right: 60%;
    width: 40%;
    height: 25%;
    padding-top: 10px;
    border-radius: 5px 0px 0px 0px;
}

#middle-Part-loaction-title2>svg {
    /* padding-top: 10px; */
    padding-right: 10px;
}

#middle-Part-loaction-title2>p {
    position: relative;
    top: -8px;
    margin-right: 5px;
    display: inline;
    color: #1780df;
}

#middle-Part-loaction-title2:hover {
    color: red;
    fill: red;
}

#middle-Part-loaction-title2:hover>p {
    color: red;
    fill: red;
}

#middle-Part-loaction-content {
    margin-top: 7%;
    display: grid;
    grid-template-columns: 3fr 5fr;
}

#middle-Part-loaction-content-img>img {
    display: block;
    margin: auto;
    border-radius: 10px;
    width: 80%;
    height: 90%;
}




#middle-Part-userComments{
    position: relative;
    margin-top: 40px;
    border-radius: 10px;
    /* height: 100vh; */
    width: 100%;
    /* border-color: #ced4da; */
    border: 1px solid #dbdbdb;
    padding-bottom: 10px;
    margin-bottom: 20px;

}

#middle-Part-userComments-header{
    position: relative;
    height: 55px;
    width: 100%;
    background-color: #ededed;
    border-bottom: 1px solid #ededed;
}

#middle-Part-userComments-header>svg{
    position: absolute;
    right: 1%;
    top: 10%;
}

#middle-Part-userComments-header-content{
    position: absolute;
    right: 5%;
}

#middle-Part-userComments-votes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    gap: 30%;
    position: relative;
}

#middle-Part-userComments-votes-left>svg{
    display: inline;
    position: relative;
}

#middle-Part-userComments-votes-left>p{
    display: inline;
    position: relative;
    top: -1vh;
    font-size: 12px;
}

#middle-Part-userComments-votes-left-avgTime{
    font-size: 12px;
    color: #3b4157;
    margin-right: 15%;
}

#middle-Part-userComments-votes-right>svg{
    display: inline;
    position: relative;
}

#middle-Part-userComments-votes-right>p{
    display: inline;
    position: relative;
    top: -1vh;
    font-size: 12px;
}


#middle-Part-userComments-votes-right-points-1{
    position: relative;
}

#middle-Part-userComments-votes-right-points-2{
    position: relative;
}

#middle-Part-userComments-votes-right-points-3{
    position: relative;
}

#middle-Part-userComments-votes-right-points-4{
    position: relative;
}

#middle-Part-userComments-votes-right-points-5{
    margin-top: 5%!important;
    position: relative;
}

.points-rows-progressBar-fill{
    position:absolute;
    right: 0;
    border-radius: 10px;
    width: 50%;
    height: 100%;
    background-color: blue;
}

.points-rows{
    position: relative;
    margin-top: 14%;
}

.points-rows-right{
    font-size: 10px;
    position: absolute;
    right: 1%;
}

.points-rows-left{
    font-size: 10px;
    position: absolute;
    left: 1%;
}

.points-rows-progressBar{
    position: relative;
    top: 7px;
    margin-left: 10%;
    margin-right: 20%;
    width: 70%;
    height: 0.5vh;
    background-color: gray;
    border-radius: 10px;
}

#middle-Part-userComments-sorting{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #dbdbdb;
    height: 5vh;
    width: 90%;
    border-radius: 10px;

}

#middle-Part-userComments-sorting-grid{
    position: relative;
    width: 95%;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    gap: 10px;
}

#middle-Part-userComments-sorting-grid-rightElement>svg{
    position: absolute;
    top: 2px;
    right: 5px;
}

#middle-Part-userComments-sorting-grid-rightElement>h1{
    margin-right: 20%;;
    display: inline;
    font-size: 12px;
    font-weight: bold;
}

.middle-Part-userComments-sorting-choice{
    margin-top: 7px;
    color: #6e7794;
    font-size: 12px;
    text-align: center;
}

.middle-Part-userComments-sorting-choice-active{
    margin-top: 7px;
    color: white;
    background-color: blue;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
}

#middle-Part-userComments-peopleComments{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 90%;
}

.middle-Part-userComments-peopleComments-box{
    height: 25vh;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
    margin-top: 10px;
    margin-bottom: 10px;
}

.middle-Part-userComments-peopleComments-box-header{
    position: relative;
    display: block;
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 25%;
    background-color: #ededed;
}

.middle-Part-userComments-peopleComments-box-header>svg{
    position: absolute;
}

.middle-Part-userComments-peopleComments-box-header-owner{
    position: absolute;
    right: 7%;
    font-size: 9px;
    top: 30%;
    color: #6e7794;
}

.middle-Part-userComments-peopleComments-box-header-points{
    position: absolute;
    color: green;
    left: 2%;
    top: 55%;
    font-size: 8px;
}


/* find second svg in the header of comments */
.middle-Part-userComments-peopleComments-box-header > svg:nth-child(3){
    cursor: pointer;
}

.middle-Part-userComments-peopleComments-box-whiteSpace{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    gap: 10%;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 20px;
}

.middle-Part-userComments-peopleComments-box-whiteSpace>p{
    font-size: 12px;
    color: #3b4157;
    text-align: justify;
}

.middle-Part-userComments-peopleComments-box-whiteSpace-reason{
    font-size: 14px;
    color: #6e7794;
}

.middle-Part-userComments-peopleComments-box-whiteSpace-starsOn{
    fill: #1780df;
    color: #1780df;
}



.middle-Part-userComments-peopleComments-box-whiteSpace>div>h1{
    font-size: 11px;
    position: relative;
    top: 5%;
}


#middle-Part-drInfo-top-like>svg:hover{
    fill: orange;
}

#middle-Part-drInfo-top-share:hover *{
    fill: orange;
    color: orange;
}

/* #middle-Part-drInfo-top-share * :hover{
    fill: orange;
} */

#middle-Part-loaction-content-days {
    margin-top: 7%;
    margin-right: 5%;
    display: flex;
    align-content: center;
}


.day {
    margin-left: 1vw;
    position: relative;
    border: 1px lightblue solid;
    padding: 15px;
    border-radius: 15px;
}

.hidden {
    display: none !important;
}

.appear {
    display: block;
}
